<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="keywords" content="casa patricia nerja andalusia rent rental apartment summer holiday andalucia alquilar piso vacaciones verano andalusien miete wohnung wohnung sommerferien hyra lägenhet sommarlov">
    <meta name="description" content="Casa Patricia">
    <meta name="author" content="Patricia Nerja">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    
    <!-- TOC stuff -->
    <script type="text/javascript" src="js/toc.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#toc').toc({
          title: '',
          headers: 'h2, h3',
          listType: 'ul', // values: [ol|ul]
          showEffect: 'none', // values: [show|slideDown|fadeIn|none]
          showSpeed: 'none', // set to 0 to deactivate effect
          classes: { list: 'jtcollapsible', item: '' }
        });
        
        $("ul.jtcollapsible").each(function() {
          jt_make_list_collapsible($(this));
        });        
      });

      // make_list_collapsible - make this list element collapsible
      function jt_make_list_collapsible(e) {
        var p = e.parent();
        if(p.is("li")) {
          e.before("&nbsp;<button style=\"font-size: 80%\" onclick=\"jt_toggle_collapsed_list(this)\">&#9654;</button>");
        }
        else{
          e.removeClass("jtcollapsible"); 
        }
      }
      
      function jt_toggle_collapsed_list(e) {
        e = $(e); // switch to jquery
        var content = e.next();
        var old_display = content.css('display');
        var was_collapsed = (old_display==="none");
        var new_display =  was_collapsed ? "block" : "none";
        e.text( was_collapsed ? '\u25bc' : '\u25b6');
        content.css("display", new_display); 
      }
    </script>
    
    <!-- photo gallery stuff -->
    <link type="text/css" rel="stylesheet" href="assets/css/lightgallery.css" />
    <link type="text/css" rel="stylesheet" href="assets/css/jtgallery.css" />
    <script src="js/lightgallery.min.js"></script>
    <script src="js/jtgallery.js"></script>
    
    <!-- language stuff -->
    <script>
      function setlang(lang) {
        //alert(e.alt.substr(0,2));
        //alert(lang);
        var xlations = {
          'ch': 'Schöni Wohnig für e Familie vo 6 Persone oder me zvermiete: 3 Schlafzimmer, eis gross mit Doppelbett, zwei mittel mit je zwei Einzelbetter, Stube a de Südwestegge mit Blick i zwei Richtige, chline Balkon mit Blick über d Plaza Andalucía, Badzimmer mit Bidet und Duschi, voll und neu usgstatteti Chuchi, Geschirrspüler, Wöschmaschine, Mikrowälle, 80 qm Wohnflächi, Lift. Ruhig und zentral, 5 Minute zfuess zum Strand, 10 Minute zum Balcón de Europa. Pris vom Oktober bis März: 300 Euro pro Wuche, 700 Euro pro Monet.',
          'de': 'Schöne Wohnung für eine Familie von 6 Personen oder mehr zu vermieten: 3 Schlafzimmer, eines groß mit Doppelbett, zwei mittel mit je zwei Einzelbetten, Wohnzimmer an der Südwestecke mit Blick in zwei Richtungen, kleiner Balkon mit Blick über die Plaza Andalucía, Badezimmer mit Bidet und Dusche, voll und neu ausgestattete Küche, Geschirrspüler, Waschmaschine, Mikrowelle, 80 qm Wohnfläche, Aufzug. Ruhig und zentral, 5 Minuten zu Fuß zum Strand, 10 Minuten zum Balcón de Europa. Preis von Oktober bis März: 300 Euro pro Woche, 700 Euro pro Monat.',
          'en': 'Beautiful flat for a family of 6 or more for rent: 3 bedrooms, one large with double bed, two medium with two twin beds each, living room on the south-west corner with double aspect views in two directions, small balcony overlooking the Plaza Andalucia, bathroom with bidet and shower, fully equipped kitchen, dishwasher, washing machine, microwave, 80 square metres, lift. Calm and central, 5 minutes from the beach, 10 minutes to the Balcón de Europa. Price from October to March: Euro 300 per week, 700 per month.',
          'se': 'Vacker lägenhet för en familj på 6 eller fler att hyra: 3 sovrum, ett stort med dubbelsäng, två medelstora med två enkelsängar vardera, vardagsrum i sydvästra hörnet med dubbel sidoutsikt i två riktningar, liten balkong med utsikt över Plaza Andalucía, badrum med bidé och dusch, fullt utrustat kök, diskmaskin, tvättmaskin, mikrovågsugn, 80 kvadratmeter, hiss. Lugnt och centralt, 5 minuter till fots från stranden, 10 minuter till Balcón de Europa. Pris från oktober till mars: 300 euro per vecka, 700 per månad.'
        }
        document.getElementById("xlated").innerHTML = xlations[lang];  
      }
    </script>
    
    {% seo %}
  </head>

  <body>
    <div>
    <p>
    <img src="icon/ch.png" alt="Schwiizertüütsch" title="Schwiizertüütsch" width="30" onclick="setlang('ch')"/>
    &nbsp;
    <img src="icon/de.png" alt="Deutsch" title="Deutsch" width="30" onclick="setlang('de')"/>
    &nbsp;
    <img src="icon/en.png" alt="English" title="English" width="30" onclick="setlang('en')"/>
    &nbsp;
    <img src="icon/se.png" alt="Svenska" title="Svenska" width="30" onclick="setlang('se')"/>
    </p>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
      </footer>
    </div>
  </body>
</html>
